#about-gangalf(style='padding:10px;font-size: 12px; line-height: 14px !important;')

    .block(style="padding:5px;margin-bottom:10px;")
        b Developer Credentials

        input#fullname.demo_field(type='text', placeholder="Full Name:Kumar Gaurav")
        input#email.demo_field(type='text', placeholder="Email:kgaurav@pipingrock.com")
        input#bitbucket-user-name.demo_field(type='text', placeholder="Bitbucket Username:pr-kgaurav")
        input#bitbucket-password.demo_field(type='password', placeholder="Bitbucket Password")
        input#default-user.demo_field(type='text', placeholder="Default User:kgaurav")


    .block(style="padding:5px;margin-bottom:10px;")
        b Personalize App
        #preferences-form(style="margin:3px 0px;")

    .block(style="position:absolute;padding:5px;bottom:0")
        b Gandalf
        .version()
            p Current Version 0.1-
                button Update to 0.3
        .credits()
            p Credits-
                a.js-external-link(href="http://w2ui.com/") W2UI
                |,
                a.js-external-link(href="https://electronjs.org/") Electron
        .repo()
            p Dev Repo-
                a.js-external-link(href="https://github.com/measdot/gandalf") measdot/gandalf