#about-gangalf(style='padding:10px;font-size: 12px; line-height: 14px !important;')
    h2 About
    p
        | Gandalf App development is being carried out in this
        a(href='https://github.com/measdot/gandalf') github repository
    p
        | Installed version: 0.1
        button Update to version: 0.2
    #preferences-form
    p
        | Need help or want to say hi! create an issue in the repo or write to me:
        a(href='mailto:grv.rkg@gmail.com', target='_top') grv.rkg@gmail.com
