@import "tabby.css";
@import "w2ui.less";

*{
  font-family: Verdana,Arial,sans-serif !important;
}

.demo_field {
 width: 100% !important;
 font-size: 12px !important;
 height: 30px !important;
 padding: 5px !important;
 margin: 3px 0px !important;
}
.tab {
 background: #F2F2F2;
}